# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/_material
/.idea

# dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json
.vscode/


/unidade-01-01-testes-de-unidade/node_modules/
/unidade-01-01-testes-de-unidade/_material/
