# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/_material
/.idea

# dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json
.vscode/

/_material/
/unidade-01-01-testes-de-unidade/node_modules/
/unidade-01-02-testes-integrados/node_modules/
/unidade-01-03-desafio-two-sum-problem/node_modules/
/unidade-02-02-criando-aplicacao-usuarios-testes-integracao/node_modules/
/unidade-02-app-gestao-de-usuario-jest-testes-unitarios-de-integracao-e-sistema/node_modules/
/unidade-03-app-gestao-de-usuarios-react-admin-e-cypress/user-admin/node_modules/
/unidade-03-app-gestao-de-usuarios-react-admin-e-cypress/user-api/node_modules/
/unidade-04-continuous-integration/user-admin/node_modules/
/unidade-04-continuous-integration/user-api/node_modules/
